/* Pre-requisite CSS start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #f0f0f0;
    color: #333333;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* Pre-requisite CSS end */

/* ===================================================================================== */

/* Header start */
header{
    background-color: #d0d7a4;
    position: relative;
}

header label{
    cursor: pointer;
    display: none;
}

.menu{
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
}

#check{
    display: none;
}

header img{
    width: 120px;
}

header ul li{
    padding: 0 10px;
    list-style: none;
    cursor: pointer;
}


header ul li::after{
    content: '';
    display: block;
    transition: all 1s ease-in-out;
    padding-bottom: 10px;
    border-bottom: 3px #555555 solid;
    width: 0%;
}

header ul li:hover::after{
    width: 100%;
}

header ul li a{
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

header ul li a:hover{
    color: #fff;
}

@media screen and (max-width: 700px) {
    header ul{
        position: absolute;
        left: -100%;
        background-color: #fff;
        top: 100%;
        z-index: 1;
        width: 100%;
        flex-direction: column;
        transition: all 2s ease-in-out;
        color: darkblue;
    }

    header ul li{
        padding: 10px 0 10px 10%;
    }

    header ul li a{
        color: #000;
    }

    header ul li a:hover{
        color: #555555;
    }

    header label{
        display: block;
        color: #000;
    }

    #check:checked ~ ul{
        left: 0;

        top: 100%;
    }
}

/* Header end */

/* ======================================================================================= */

/* Hero section code start */

.hero-section{
    overflow: hidden;
    z-index: -3;
    position: relative;
}

.slide{
    display: grid;
    height: 90vh;
    grid-template-columns: repeat(3, 100vw);
    animation: hero-slide 10s infinite ease-in-out;
}

.slide1{
    background-image: url('./images/html5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slide2{
    background-image: url('./images/css.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slide3{
    background-image: url('./images/JS.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@keyframes hero-slide {
    0%{
        transform: translate(0vw);
    }
    16%{
        transform: translate(0vw);
    }
    33%{
        transform: translate(-100vw);
    }
    50%{
        transform: translate(-100vw);
    }
    66%{
        transform: translate(-200vw);
    }
    74%{
        transform: translate(-200vw);
    }
    100%{
        transform: translate(0vw);
    }
}

/* Hero section code end */

/* ============================================================================================= */

/* Website intro section start */

#intro-section{
    padding: 20px 0;
}

#main-heading{
    text-align: center;
    grid-column: 1/3;
    padding: 20px 0;
    color: #000;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.sub-heading{
    grid-column: 1/3;
    padding: 20px 0;
    position: relative;
    margin: 10px 0;
    color: #000;
}

.sub-heading::after{
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    border-bottom: 2px solid #d8c0a1;
}

.image-block img{
    width: 100%;
}

.content .text{
    padding-left: 50px;
}

.content .text-content{
    padding-right: 25px;
}

.content .text-content p{
    font-size: 1.2rem;
    padding: 10px 0;
}


.content .text-content .list-heading{
    padding: 10px 0;
    color: #000;
}

.content .text-content .list-data li{
    margin-left: 40px;
    padding: 5px;
}

.page-link{
    color: #000;
    padding: 15px 0;
    display: inline-block;
    transition: all 1s ease-in-out;
}

.page-link:hover{
    color: grey;
}


@media screen and (max-width: 800px) {
    #main-heading, .sub-heading{
        grid-column: 1/1;
    }

    .content{
        grid-template-columns: 1fr;
    }

    .content .text-content p{
        font-size: 1rem;
    }

    .image-block img{
        width: 100%;
    }

    .content .text{
        padding-left: 0px;
    }
}

/* Website intro seciton end */


/* ======================================================================================= */

/* Footer section start */

footer{
    padding: 40px 0;
    background-color: #4c956c;
    color: #fff;
    font-size: 1.3rem;
}

.footer{
    justify-content: space-between;
}

.footer-block{
    width: 31%;
}

.footer-block img{
    width: 30%;
}

.footer-block h3{
    padding: 20px 0;
}

.footer-block .contact-details p{
    padding: 8px 0;
}

.footer-block .contact-details i{
    width: 30px;
}

.footer-block .contact-details span{
    padding-left: 10px;
}

.footer-block .contact-details a{
    color: #fff;
}

.footer-block input{
    margin: 10px 0;
    width: 100%;
    padding: 16px;
    outline: none;
    border: none;
    border-radius: 12px;
}

.footer-block button{
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.footer-block button:hover{
    background-color: #000;
    color: #fff;
}

.footer-block .social-icons i{
    padding: 15px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.6 ease-in-out;
}

.footer-block .social-icons i:hover:nth-child(1){
    background-color: #1877F2;
}

.footer-block .social-icons i:hover:nth-child(2){
    background-color: #C13584;
}

.footer-block .social-icons i:hover:nth-child(3){
    background-color: #1da1F2;
}

.footer-block .social-icons i:hover:nth-child(4){
    background-color: #FF0000;
}

.footer-block .social-icons i:hover:nth-child(5){
    background-color: #0077B5;
}

@media screen and (max-width: 800px) {
    .footer{
        flex-direction: column;
    }

    .footer-block{
        width: 100%;
    }
}

/* Footer section end */